body	{
	background-color: black;
}

h1 {
	color: red;
}

body	{
	color: green;
}
 div {
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
} 